        <div class="carousel-item">
            <div class="slide-image">
                <img src="/{{path}}">
            </div>
            <div class="slide-text">
                <img src="/{{path}}">
                {{tile_text}}
            </div>
        </div>


