    <div class="carousel">
        <div class="carousel-item">
            <div class="slide-image">
                <img src="/assets/images/carousel/hero.jpg">
            </div>
            <div class="slide-text">
                <img src="/assets/images/carousel/hero.jpg">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum at ducimus, impedit blanditiis explicabo sapiente illo cum aperiam maxime tempore quasi doloremque ad vero saepe eligendi fuga tenetur eum nam recusandae esse accusamus voluptate. Possimus aspernatur expedita ullam beatae eius nihil numquam magnam? 
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide-image">
                <img src="/assets/images/carousel/hero.jpg">
            </div>
            <div class="slide-text">
                <img src="/assets/images/carousel/hero.jpg">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum at ducimus, impedit blanditiis explicabo sapiente illo cum aperiam maxime tempore quasi doloremque ad vero saepe eligendi fuga tenetur eum nam recusandae esse accusamus voluptate. Possimus aspernatur expedita ullam beatae eius nihil numquam magnam? 
            </div>
        </div>
        <div class="carousel-item">
            <div class="slide-image">
                <img src="/assets/images/carousel/hero.jpg">
            </div>
            <div class="slide-text">
                <img src="/assets/images/carousel/hero.jpg">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum at ducimus, impedit blanditiis explicabo sapiente illo cum aperiam maxime tempore quasi doloremque ad vero saepe eligendi fuga tenetur eum nam recusandae esse accusamus voluptate. Possimus aspernatur expedita ullam beatae eius nihil numquam magnam? 
            </div>
        </div>
    </div>

    <script src="/js/carousel.js"></script>