        <div class="carousel-item">
            <div class="slide-image">
                <img src="/{{path}}">
            </div>
            <div class="slide-text-container">
                <img src="/{{path}}">
                <div class="slide-text">
                    {{{tile_text}}}
                </div>
            </div>
        </div>


