    {{#cart_items}}
        <div class="cart-item">
            <div class='item-img'>{{#image}}<img src="/assets/images/shop/item_images/{{image}}" width="100px" />{{/image}}</div>
            <div class='item-name'>{{name}}</div>
            <div class='item-price'>&pound;<span class="price">{{price}}</span></div>
            <div class='item-interact'>
                <form hx-post='/functions/interface/shop/update_cart.php'>
                    <input type="hidden" name="item_id" value="{{item_id}}">
                    <input type="submit" value="Remove From Cart">
                </form>
            </div>
        </div>
    {{/cart_items}}
