        <footer>
          <section class="emailForm">
            <h2>Join our email list for news:</h2>
            <form action="#" id="emailList">
              <input type="text" id="email" placeholder="email address" autocomplete="email" /> <br />
              <input type="text" id="name" placeholder="name (optional)" autocomplete="name" /> <br />
              <input type="submit" id="emailSubmit" value="enter your email" autocomplete="email" />
            </form>
          </section>
          <section class="socials">
            <a href="https://www.facebook.com/untruth.band">
              <img src="./assets/images/socials/fb.png" alt="Facebook logo" />
            </a>
            <a href="https://www.threads.net/@untruth_band">
              <img src="./assets/images/socials/th.png" alt="Threads logo" />
            </a>

            <a href="https://www.instagram.com/untruth_band/">
              <img src="./assets/images/socials/ig.png" alt="Instagram logo" />
            </a>
            <a href="mailto:info@unbelievabletruth.co.uk">
              <img src="./assets/images/socials/email.png" alt="Email logo" />
            </a>
          </section>
          <section class="booking">Booking Agent: <a href="mailto:debbie@lb-agency.net">debbie@lb-agency.net</a></section>
          <section class="booking">Management: <a href="mailto:management@unbelievabletruth.co.uk">management@unbelievabletruth.co.uk</a></section>
        </footer>
      </div>
    </main>
  </body>
</html>