<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/imports.css" />
    <link rel="stylesheet" href="/styles/articles.css?v=2" />
    <link rel="stylesheet" href="/styles/vars.css?v=3" />
    <link rel="stylesheet" href="/styles/main250612.css?v=4" />
    <link rel="stylesheet" href="/styles/carousel.css" />
    <link rel="stylesheet" href="/styles/comments.css?v=2" />
    <link rel="stylesheet" href="/styles/user.css?v=1" />
    {{#stylesheets}}
    <link rel="stylesheet" href="/styles/{{.}}.css" />
    {{/stylesheets}}
    {{#scripts}}
    <script defer src="/js/{{.}}.js"></script>
    {{/scripts}}
    <script src="/js/lib/htmx.min.js"></script>
    <script defer type="module" src="/js/emailList.js"></script>
    <script defer src="/js/accordion.js?v=6"></script>
    <script defer src="/js/showAllArticles.js"></script>
    <script defer src="/js/utils.js?v=1"></script>
    <script defer src="js/toggleModal.js"></script>
    <script src="https://kit.fontawesome.com/865fbd0535.js" crossorigin="anonymous"></script>

    <title>Unbelievable Truth</title>
  </head>
  <body>
    <header>
      <a href="/">
        <div class="logo"><img src="/assets/images/logo/UnbelievableTruth-logo-white_web.png" width="500"/></div>
      </a>
      {{#nav}}
        {{>nav}}
      {{/nav}}
    </header>
    <div class="user" id="user" hx-get="/functions/interface/blog/login_form.php" hx-target="#userModal">
      <img src="/assets/images/graphics/user.png" alt="User icon" />
    </div>
    <section class="userModal userHide" id="userModal"></section>
    
    <main class="video-wrapper">
      <video playsinline autoplay muted loop poster="/assets/images/images/CB_website_bg.jpg">
        <source src="/assets/video/WebsiteBGsmall.mov" />
        Your browser does not support the video tag.
      </video>

