<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/imports.css" />
    <link rel="stylesheet" href="/styles/vars.css" />
    <link rel="stylesheet" href="/styles/main250415.css" />
    {{#stylesheets}}
    <link rel="stylesheet" href="/styles/{{.}}.css" />
    {{/stylesheets}}
    <script src="/js/lib/htmx.min.js"></script>
    <script defer type="module" src="/js/emailList.js"></script>
    <script defer src="/js/showAllArticles.js"></script>
    <script src="https://kit.fontawesome.com/865fbd0535.js" crossorigin="anonymous"></script>

    <title>Unbelievable Truth</title>
  </head>
  <body>
    <header>
      <div class="logo"><img src="/assets/images/logo/UnbelievableTruth-logo-black-web.png" width="500"/></div>
      {{#nav}}
        {{>nav}}
      {{/nav}}
    </header>
    
    <main>
