        <div class="item-interact">
            <form hx-post='/functions/interface/shop/add_to_cart.php' hx-target='#cartResult{{item_id}}' hx-swap='innerHTML'>
                <input type="hidden" name="item_id" value='{{item_id}}'>
                {{#option}}
                    <select name='option' onchange='updateItemPrice(event)'>
                        {{#options}}
                            <option value='{{item_option_id}}' data-price='{{option_price}}'>{{option_name}}</option>
                        {{/options}}
                    </select>
                {{/option}}
                {{^is_bundle}}
                    <p>&pound;<span id='itemPrice'>{{price}}</span></p>
                    <input type="submit" value="Add Item To Cart">
                {{/is_bundle}}
            </form>
        </div>
        <section id="cartResult{{item_id}}"></section>
