*.log
*.DS_Store
*.htaccess

tmp.html

assets/images/article_images/
assets/articles/
assets/images/mailout_images/
assets/mailout/
assets/images/carousel/
assets/carousel/
assets/audio/article_audio/
assets/images/shop/item_images/
tmp/

private/data/mailout/current_mailout.txt
private/data/mailout/logs/
