*.log
*.DS_Store
*.htaccess
*.error_log
tmp.html

assets/images/article_images/
assets/articles/
assets/images/mailout_images/
assets/mailout/
assets/images/carousel/
assets/carousel/
assets/audio/article_audio/
assets/images/shop/item_images/
assets/shop/
tmp/

resources/resource_dirs/

private/data/mailout/current_mailout.txt
private/data/mailout/logs/

resources/resource_dirs/temp