<form hx-post="/private/functions/interface/content/update_hero.php" enctype="multipart/form-data">
    <label for="heroImg">Image File</label>
    <input id="heroImg" name="hero_img" type="file" accept="image/png, image/jpeg" required />
    <label for="tileText">Text Content</label>
    <textarea name="tileText" cols="40" rows="10" placeholder="tile text" required></textarea>
    <input type="submit" value="Add Hero Tile">
</form>