<div class="editOrder">
    <a href = "/private/functions/interface/orders/print_order.php?order_id={{order_id}}" target="_blank" class="button">Generate PDF</a>
    {{#implemented}}
    {{^dispatched}}
    <a hx-get="php/order_dispatched.php?order_id={{order_id}}" hx-swap="none" class="button" disabled>Mark As Dispatched</a>
    {{/dispatched}}
    {{#dispatched}}
    <a hx-get="php/order_dispatched.php?order_id={{order_id}}&undo=true" hx-swap="none" class="button" disabled>Mark As Not Dispatched</a>
    {{/dispatched}}
    {{/implemented}}
    <a hx-get="/private/functions/interface/orders/edit_order.php?order_id={{order_id}}" hx-target="#editOrder_{{order_id}}" class="button">Edit Order</a>
    <a hx-get="/private/functions/interface/orders/send_confirmation.php?order_id={{order_id}}" hx-target="#editOrder_{{order_id}}" class="button">Resend Confirmation Email</a>
    <a hx-get="/private/functions/interface/orders/delete_order.php?order_id={{order_id}}" hx-confirm="Definitely delete order # {{sumup_id}}?" class="button">Delete Order</a>
</div>
