{{>html_header}}
    <div class="tabs">
        <ul>
        {{#tabs}}
            <a href="/{{path}}/{{tab_id}}" {{#active}}class="active"{{/active}}><li>{{tab_name}}</li></a>
        {{/tabs}}
        </ul>
    </div>
    <div class="tab">
        <section class="articleContainer">
            {{#article}}
                {{>article}}
            {{/article}}
        </section>
        <section class="articleLinks">
        {{#linked_articles}}
            <a class="articleLink" href="/{{path}}/{{tab_id}}/{{article_id}}">&gt;&gt; {{title}}</a>
        {{/linked_articles}}
        </section>
    </div>
{{>html_footer}}