
<section class="articleContainer">
    {{#article}}
        {{>article}}
    {{/article}}
</section>
<section class="articleLinks">
    {{#next_article}}
        <button hx-get="/content?article_id={{next_article}}" hx-target="#blog-content" hx-replace="innerHTML">Next Blog</button>
    {{/next_article}}
    {{#prev_article}}
        <button hx-get="/content?article_id={{prev_article}}" hx-target="#blog-content" hx-replace="innerHTML">Previous Blog</button>
    {{/prev_article}}
</section>
