{{>html_header}}
    <div class="callout">
            <h1>Welcome to our official website</h1>
    </div>
    <section class="show accordion" id="hero">
        <header data-targetId='hero'>
            <h2>
                    Hello
            </h2>
            <i class="fa-solid fa-plus"></i>
        </header>
        <div class="accordion-content" id="hero-content">
            <script src="/js/carousel.js"></script>
            <div class="carousel" id="carousel">
                {{#carousel_tiles}}
                    {{>carousel_tile}}
                {{/carousel_tiles}}
            </div>
        </div>
    </section>
    <section class="show accordion" id="gigs">
        <header data-targetId='gigs'>
            <h2>
                    Gigs
                </h2>
            <i class="fa-solid fa-plus"></i>
        </header>
        <div class="accordion-content" id="gigs-content" hx-get="/shows" hx-trigger="load">
        </div>
    </section>
    <section class="show accordion" id="blog">
        <header data-targetId='blog'>
            <h2>
                Blog
            </h2>
            <i class="fa-solid fa-plus"></i>
        </header>
        <div class="accordion-content" id="blog-content">
            <section class="blog" hx-get="/content{{#article_id}}?article_id={{article_id}}{{/article_id}}" hx-trigger="load">
            </section>
        </div>
    </section>
{{>html_footer}}