{{>html_header}}
    <div class="callout">
            <h1>Welcome to our official website</h1>
    </div>
    <section class="show accordion" id="hero">
        <header data-targetId='hero'>
            <h2>
                    Hello
            </h2>
            <i class="fa-solid fa-plus"></i>
        </header>
        <div class="accordion-content" id="hero-content">
                <img src="/assets/images/images/hero.jpg" width="80%" alt="Portrait of the band Unbelievable Truth - Andy Yorke, Jason Moulster and Nigel Powell" />
                <h2>Citizens Band EP out now</h2>
                <p>Visit the <a href="/shop/">shop</a> to buy on vinyl, or download and stream wherever you get your music</p>
        </div>
    </section>
    <section class="show accordion" id="gigs">
        <header data-targetId='gigs'>
            <h2>
                    Gigs
                </h2>
            <i class="fa-solid fa-plus"></i>
        </header>
        <div class="accordion-content" id="gigs-content" hx-get="/shows" hx-trigger="load">
        </div>
    </section>
    <section class="show accordion" id="blog">
        <header data-targetId='blog'>
            <h2>
                Blog
            </h2>
            <i class="fa-solid fa-plus"></i>
        </header>
        <div class="accordion-content" id="blog-content">
            <section class="blog" hx-get="/content" hx-trigger="load">
            </section>
        </div>
    </section>
{{>html_footer}}