{{>html_header}}

    <section class="callout">
        <h1>Unbelievable Truth Admin</h1>
    </section>
    <section class="show">
        <p>
            <a href="stock/">Stock Management</a>
        </p>
    </section>

{{>html_footer}}