{{>html_header}}

    <section class="callout">
        <h1>Unbelievable Truth Admin</h1>
    </section>
    <section class="show">
        <p>
            <a class="button" href="stock/">Stock Management</a>
            <a class="button" href="orders/">Order Management</a>
            <a class="button" href="content/">Content Management</a>
            <a class="button" href="mailout/">Mailout Management</a>
        </p>
    </section>

{{>html_footer}}