{{>html_header}}

    <section class="callout">
      <h1>Order Management Page</h1>
    </section>
    <section class="content-container">
        <h1>Transactions</h1>
        <button hx-get="/private/functions/interface/orders/view_transactions.php" hx-target="#transactionResult" hx-trigger="click" onclick="disableButton(event)" hx-swap="innerHTML">View Transactions</button>
        <div id="transactionResult"></div>
        <button hx-get="/private/functions/interface/orders/get_su_orders.php" hx-swap="outerHTML" hx-trigger="click" onclick="disableButton(event)">Get Orders From SumUp</button>
        <button hx-get="/private/functions/interface/orders/submit_rm_orders.php" hx-target="#rmOutcomes" onclick="disableButton(event)">Submit Old Orders to Royal Mail</button>
        <button hx-get="/private/functions/interface/orders/get_rm_orders.php" hx-target="#rmOutcomes" onclick="disableButton(event)">Update Orders from Royal Mail</button>
        <div id="rmOutcomes"></div>
        <p>Go to <a class="stdLink" href="https://business.parcel.royalmail.com/orders/" target="_blank">Royal Mail Orders</a> to pay and download labels</p>
        <h1>Current Picking List</h1>
        <div id="pickingList" class="pickingList" hx-get="/private/functions/interface/orders/picking.php" hx-trigger="load, updateOrderList from:body"></div>
        <h1>Orders</h1>
        <div>
          <label for="orderFilter">Filter Orders:</label>
          <form id="orderFilterForm">
              <select name="orderFilter" id="orderFilter" hx-post="/private/functions/interface/orders/order_list.php" hx-trigger="change" hx-target="#orderList">
              <option value="all">All Orders</option>
              <option value="failed">Payment Failed</option>
              <option value="dispatched">Dispatched</option>
              <option value="new" selected>New Orders</option>
              </select>
          </form>
        </div>
        <div id="orderList" hx-post="/private/functions/interface/orders/order_list.php" hx-trigger="load, updateOrderList from:body" hx-include="#orderFilterForm"></div>
    </section>
    <script>
      const copyLinkToClipboard = (e) => {
        navigator.clipboard.writeText(e.target.previousElementSibling.innerText);
      };
      const disableButton = (e) => {
        e.target.disabled = true;
        e.target.classList.add('disabled');
      };
    </script>
    <script type="text/javascript">
    document.addEventListener('htmx:afterSettle', (e)=>{
        e.target.scrollIntoView({ behavior: "smooth", block: "start", inline: "nearest" });
    })
  </script>
  <script src="/js/filterElementsBySearch.js"></script>

{{>html_footer}}