    <header class="content-header" data-targetid="orderList" onclick="showHideOrders(event)">{{num_orders}} order(s):</header>
    <div class="" id="orderList-content">
        <div id="filteredOrders" class="orderList">
            {{>filterBox}}
            {{#orders}} {{>order}} {{/orders}}
            {{^orders}} No orders in current filter {{/orders}}
            <div class="no-results-message">No orders in current filter</div>
        </div>
    </div>

<script>
    const showHideOrders = (e) => {
        document.getElementById('filteredOrders').classList.toggle('show');
    }
</script>