{{>html_header}}
        <section class="cartContainer" hx-get="/functions/shop/cart_items.php?checkout=true" hx-trigger="load, cartUpdated from:body">
        </section>
        <section class="cart-item">
            <div class="span2"></div>
            <label class="span2" for="shippingMethod">Shipping Method</label> 
            {{>shipping_method_select}}
        </section>
        <section class="cart-item">
            <div class="totals-legend">Subtotal</div>
            <div class='subtotal'>&pound;<span id="subtotal" class="price">{{subtotal}}</span></div>
            <div class="totals-legend">Shipping</div>
            <div class='subtotal'>&pound;<span id="shipping" class="price" hx-post="/functions/interface/shop/calculate_shipping.php" hx-trigger="change from:#shippingMethod, shippingMethodUpdated from:body" hx-vars="{'update': 'true'}" hx-include="#delivery-country, #shipping-method">{{shipping}}</span></div>
            <div class="totals-legend">Total</div>
            <div class='subtotal'>&pound;<span class="price" hx-post="/functions/interface/shop/calculate_total.php" hx-trigger="shippingUpdated from:body" hx-include="#shipping, #subtotal">{{total}}</span></div>
        </section>
    <div class="main">
        <section class="checkout-container">
        {{>checkout_form}}
        </section>
    </div>
    <script src="/js/lib/cleave-zen.umd.js"></script>
    <script src="/js/lib/cleave-zen.index.js"></script>
    <script src="/js/lib/cleave-zen.common.js"></script>
    <script src="/js/shop/validCard.js" type="module"></script>
    <script src="/js/shop/shopUI.js"></script>
{{>html_footer}}