{{>html_header}}
        <section class="cartContainer" hx-get="/functions/shop/cart_items.php?checkout=true" hx-trigger="load, cartUpdated from:body">
        </section>
        <section class="cart-item">
            <div class="span2"></div>
            <label class="span2" for="shippingMethod">Shipping Method</label> 
            <select name="shippingMethod" id="shippingMethod" hx-post="/functions/interface/shop/get_shipping_methods.php" hx-trigger="load, change from:#country" hx-swap="innerHTML" hx-include="#country">
            </select>
        </section>
        <section class="cart-item">
            <div class="totals-legend">Subtotal</div>
            <div class='subtotal'>&pound;<span id="subtotal" class="price">{{subtotal}}</span></div>
            <div class="totals-legend">Shipping</div>
            <div class='subtotal'>&pound;<span id="shipping" class="price" hx-post="/functions/interface/shop/calculate_shipping.php" hx-trigger="change from:#country, change from:#shippingMethod" hx-vars="{'update': 'true'}" hx-include="#country">{{shipping}}</span></div>
            <div class="totals-legend">Total</div>
            <div class='subtotal'>&pound;<span class="price" hx-post="/functions/interface/shop/calculate_total.php" hx-trigger="shippingUpdated from:body" hx-include="#shipping, #subtotal">{{total}}</span></div>
        </section>
    <div class="main">
        <section class="checkout-container">
            <form class="checkout-form" hx-post="/functions/interface/shop/do_checkout.php">
                <label for="customerName">Name*</label>
                <input type="text" name="name" id="customerName" required>
                <label for="customerEmail">Contact Email*</label>
                <input type="text" name="email" id="customerEmail" required>
                <label for="address1">Address Line 1*</label>
                <input type="text" name="address1" id="address1" required>
                <label for="address2">Address Line 2</label>
                <input type="text" name="address2" id="address2">
                <label for="city">Town / City*</label>
                <input type="text" name="town" id="city" required>
                <label for="postcode">Postcode / ZIP*</label>
                <input type="text" name="postcode" id="postcode" required>
                <label for="country">Country*</label>
                <select name="country" id="country" required>
                        <option value="31" selected>United Kingdom</option>
                    {{#countries}}
                        <option value="{{country_id}}">{{name}}</option>
                    {{/countries}}
                </select>
                <label for="cc-name">Name On Card</label>
                <input type='text' name="cc_name" id="cc-name" placeholder="Name On Card" size="23" autocomplete="cc-name" />
                <label for="cc-number">Card Number</label>
                <input class="creditcard-input invalid" name="cc_number" id="cc-in" placeholder="XXXX XXXX XXXX XXXX" size="23" autocomplete="cc-number" />
                <label for="expiry">Expiry Date</label>
                <div class="date-input-container">
                    <input class="date-input invalid" name="cc_exp_month" id="exp-m" maxlength="2" id="expiry" placeholder="MM">
                    <input class="date-input invalid" name="cc_exp_year" id="exp-y" maxlength="2" placeholder="YY">
                </div>
                <label for="cvv">CVV Code</label>
                <input class="numeral-input invalid" id="cvv" name="cc_cvv" maxlength="3" placeholder="cvv">
                <div class="creditcard-type"></div>
                <input id="confirmSubmit" type="submit" value="Confirm and Pay" class="disabled" disabled>
                <input type='hidden' name='cc_type' id='ccType' value='unknown'>
            </form>
        </section>
    </div>
    <script src="/js/lib/cleave-zen.umd.js"></script>
    <script src="/js/lib/cleave-zen.index.js"></script>
    <script src="/js/lib/cleave-zen.common.js"></script>
    <script src="/js/shop/validCard.js" type="module"></script>
{{>html_footer}}