<div id="sumup-card" class="paymentPopover">
  <i class="fa-solid fa-rectangle-xmark cancel" onclick="cancelOrder()"></i>
</div>

<script type="text/javascript">

  document.getElementById('sumup-card').style.display = "block";
  SumUpCard.mount({
    id: 'sumup-card',
    checkoutId: '{{checkout_id}}',
    currency: 'GBP',
    locale: 'en-GB',
    country: 'GB',
    amount: {{amount}},
    onResponse: (type, body) => {processPayment(type, body)},
  });

</script>