<div id="sumup-card" class="paymentPopover">
  <i class="fa-solid fa-rectangle-xmark cancel" onclick="cancelOrder()"></i>
</div>

<script src="https://smtpjs.com/v3/smtp.js">
</script>
<script type="text/javascript">
  const order_details = {
    order_id : "{{order_id}}",
    checkout_id: "{{checkout_id}}",
    name: "{{name}}",
    items: {
      {{#items}}
        "item_id": {{item_id}},
        "price": {{price}},
        "quantity": {{quantity}}
      {{/items}}
    },
    subtotal: {{subtotal}},
    shipping: {{shipping}},
    vat: {{vat}},
    total: {{amount}}
  }
  document.getElementById('sumup-card').style.display = "block";
  SumUpCard.mount({
    id: 'sumup-card',
    checkoutId: '{{checkout_id}}',
    currency: 'GBP',
    locale: 'en-GB',
    country: 'GB',
    amount: {{amount}},
    onResponse: (type, body) => {processPayment(type, body, order_details)},
  });

</script>