body {
  font-family: OpenSans, Inter, sans-serif;
  background: var(--stdBackground);
  color: var(--stdColour);
}

main {
  padding-bottom: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: block;
  padding-left: 0.5em;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  background-color: #999;
}

nav ul li {
  display: flex;
  justify-content: center;
  background-color: #999;
  color: black;
  border-right: 1px solid #aaa;
  padding: 0.5em;
  transition: background-color 0.5s ease;
  width: 5em;
}

nav ul li:first-child {
  border-left: 1px solid #aaa;
}

nav ul li:hover {
  background-color: var(--AHlilac);
  cursor: pointer;
}

nav ul a {
  color: black;
  text-decoration: none;
}

nav ul li.active-link {
  background-color: #333;
  color: #999;
}

nav ul li.active-link:hover {
  cursor: default;
}

header {
  background-color: #999;
}

footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background-color: var(--transBlack);
  background-image: linear-gradient(to right, var(--transparent), var(--transBlack), var(--transBlack), var(--transBlack), var(--transparent));
  display: grid;
  grid-template-columns: 15em 1fr;
}

footer section.socials {
  margin: 0.5em;
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: var(--headingFont);
  font-size: 2em;
}

div.callout {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--transBlack);
  padding: 1em;
}

.logo {
  padding: 0.5em 1em;
}

.logo img {
  max-width: 90%;
}
