section.items {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* grid-auto-rows: 1fr; */
}

section.bundles,
section.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 25em);
  grid-template-rows: repeat(auto-fit, 1fr);
}

section.bundles h2,
section.items h2 {
  flex: 0 0 100%;
  /* width: 100%; */
  /* text-align: center; */
  font-family: var(--headingFont);
  font-size: var(--fontHeading);
  grid-column: 1/-1;
}

section.bundle {
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: inset;
}

.bundle-item {
  border-bottom: 1px solid var(--stdColour);
}

section.item,
section.bundle,
section.bundle .bundle-item {
  /* height: fit-content; */
  padding: var(--stdPaddingMedium);
  margin: var(--stdMarginSmall);
}

section.item {
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: inset;
}

section.item p {
  /* grid-column: 1/-1; */
}

section.bundle {
  /* width: fit-content; */
}

section.bundle .bundle-item {
  /* height: fit-content; */
}

section.bundle img {
  /* height: 50px; */
}

section.bundle .bundle-item-total {
  /* grid-column-start: 1; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: var(--stdPaddingMedium); */
}

.items .featured {
  /* grid-column: 1/-1; */
}

.items a {
  text-decoration: none;
  color: var(--stdColour);
}

a.button {
  font-size: 0.9em;
  text-decoration: none;
  padding: var(--stdPaddingSmall) var(--stdPaddingMedium);
  background-color: #fff;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  width: fit-content;
}

a.button:active {
  transform: scale();
  background-color: #eee;
}

input.invalid {
  color: #f22;
}

.cartAccess {
  position: absolute;
  right: 0.1em;
  top: 4em;
  width: fit-content;
  color: black;
  background-color: var(--articleBackground);
  opacity: 0.8;
  padding: var(--stdPaddingLarge);
  border: 1px solid var(--commentBoxOutline);
  box-shadow: var(--articleShadow);
  border-radius: 20%;
}

a.viewCart,
a.viewCartItems {
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

a.viewCartItems .viewCartBadge {
  position: absolute;
  bottom: -5px;
  left: -5px;
  font-size: 0.6em;
  padding: 0.1em;
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--alertColour);
}

/** font awesome */
/* New Simplified Version 6 CSS */
/* Step 1: Common Properties: All required to make icons render reliably */
.icon::before {
  /* removed font- based rules */
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.viewCart::before {
  font: var(--fa-font-solid);
  content: '\f07a';
  padding: 0.3em;
}

.viewCartItems::before {
  font: var(--fa-font-solid);
  content: '\f217';
  padding: 0.3em;
}

.empty-cart {
  margin: var(--stdMarginSmall) 0;
  width: fit-content;
}

.shop-item,
.cart-item,
.checkout-container {
  padding: var(--stdPaddingMedium);
  margin: var(--stdMarginSmall);
  color: var(--articleText);
  background-color: var(--articleBackground);
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: grid;
  grid-template-columns: 120px 1fr 3em 5em 1fr;
  column-gap: var(--stdMarginSmall);
  row-gap: var(--stdMarginMedium);
  align-items: center;
}

.cart-item .totals-legend {
  grid-column: 1/ 4;
}

@media screen and (min-width: 900px) {
  .shop-item {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.shop-item > * {
  padding: var(--stdPaddingMedium);
}

.shop-item h2 {
  font-family: var(--headingFont);
  font-weight: 900;
}

.shop-item .item-name {
  grid-column: 1 / 3;
}

.shop-item .item-description {
  font-size: var(--fontSmall);
  max-width: 30em;
}

.price {
  float: right;
  font-family: 'Courier New', Courier, monospace;
  text-align: right;
}

.checkout-form {
  border: 1px solid black;
  margin-bottom: var(--stdMarginSmall);
  padding: var(--stdPaddingSmall);
}

.checkout-form input,
.checkout-form label {
  width: fit-content;
  min-width: 22em;
  display: block;
}

.checkout-form input[type='submit'],
.checkout-form select {
  width: fit-content;
}

.checkout-form .date-input,
#cvv {
  display: inline-block;
  min-width: 3em;
  width: 3em;
}

.checkout-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: var(--stdMarginSmall);
  column-gap: var(--stdMarginSmall);
}

@media screen and (max-width: 900px) {
  .checkout-form,
  .cart-item {
    grid-template-columns: 1fr;
  }
}

.cart-button {
  margin: var(--stdMarginSmall);
  font-size: 0.85em;
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--stdColour);
  background-color: buttonface;
  padding: var(--stdPaddingSmall);
  color: black;
  border: 1px solid #787878;
  border-radius: 3px;
}

.cart-button:hover {
  cursor: pointer;
  background-color: #ddd;
}

.cart-item select {
  width: fit-content;
}

.address {
  max-height: 20em;
  transition: max-height 1s linear, padding 1s ease-in-out, border-color 1s linear;
}

.address.hidden {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  border-color: transparent;
}

.billing-address {
}

.billing-address > * {
  /* overflow: hidden; */
}

.address {
}

.address h2 {
  font-family: var(--headingFont);
  font-weight: bold;
  height: 2em;
  overflow: hidden;
}
